<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="blog">

<div id="top"></div>

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>

<!-- Hero Section
================================================== -->

<section class="hero small-hero"
         style="background-image:url(assets/images/match.jpeg);">
    <div class="bg-overlay">
        <div class="container" style="">
            <div class="intro-wrap">
                <div class="intro-title">
                    <h1 class="intro-title">
                        <span class="author-name">Your Matches</span>
                    </h1>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</section>


<!-- Blog Posts
================================================== -->

<section class="main container" style="alignment: center">
    <div align="center">
        <div class="row blog-posts" style="width: 600px">
            <div id="content" class="col-lg-12">
                <div class="row">
                    <article
                            class="postg-living tag-memories tag-planning tag-route tag-tips tag-trip">
                        <% var interestString = " | " %>
                        <% for(var interest = 0; interest < myInterest
                                .length; interest++) { %>
                        <% interestString = interestString +
                                myInterest[interest].charAt(0).toUpperCase() + myInterest[interest].substring(1).toLowerCase() + " | "
                        %>
                        <% } %>
                        <h2><strong> <%= matchedPeople.length %> Matches
                                Found</strong></h2>

                        <h3><strong> <%= interestString %></strong></h3>
                        <% for(var i = 0; i < matchedPeople.length; i++) { %>
                        <% var profileURL = 'assets/images/' + matchedName[i] + '.jpeg' %>
                        <div class="card" style="margin-top: 50px">
                            <header class="entry-header">
                                <a href='<%= matchedName[i] %>' rel="bookmark">
                                    <div class="entry-thumbnail"
                                         style="background-image: url('<%= profileURL %>')">
                                        <img width="600" height="800"
                                             title="" alt=""
                                             src="assets/images/blog-placeholder-vertical.png">
                                    </div>
                                    <h2><%= matchedNameCap[i] %></h2>
                                </a>
                            </header>
                            <footer class="entry-meta clearfix">
                                <% var matchInterestString = " | " %>
                                <% for(var interest = 0;
                                       interest <
                                       matchedInterest[i]
                                               .length; interest++) { %>
                                <% matchInterestString = matchInterestString + " " +
                                        matchedInterest[i][interest].charAt(0).toUpperCase() + matchedInterest[i][interest].substring(1).toLowerCase() + " | "
                                %>
                                <% } %>
                                <div align="center"> <%= matchInterestString %></div>
                                <% var mydate = new Date(matchedPeople[i]
                                        .created) %>
                                <% var month = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"][mydate.getMonth()]; %>
                                <% var str = month + ' ' + mydate.getFullYear(); %>
                                <span class="posted-on"><%= mydate.getDate
                                    () %> <%=
                                        str %></span>
                            </footer>
                        </div>
                        <% } %>

                    </article>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</section>