<!DOCTYPE html>
<html lang="en">
<% include partials/page/jsdefaults.ejs %>
<head>
    <% include partials/page/head.ejs %>
</head>

<body class="search">

<div id="top"></div>

<!-- Navigation (main menu)
================================================== -->
<% include partials/page/navbar.ejs %>
<!-- /.navbar-wrapper -->


<!-- Hero Section
================================================== -->

<section class="hero small-hero"
         style="background-image:url(assets/images/hero-1.jpg);">
    <div class="bg-overlay">
        <div class="container">
            <div class="intro-wrap">
                <h1 class="intro-title">Search Results for <em><%= searchEntry %></em>
                </h1>
            </div>
        </div>
    </div>
</section>


<!-- Main Content
================================================== -->
<section class="main container">
    <div class="row">

        <h3 class="hidden">Search Results</h3>

        <div class="col-sm-12 col-md-8">

            <div class="row">
                <div class="col-sm-12 home-search-field">
                    <form class="big-search" role="search" method="post"
                          action="/bingsearch">
                        <input name="searchentry" placeholder="Bing Search For..."
                               value=""
                               type="text">
                        <button type="submit"><span
                                    class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </div>
            </div>
            <% for (var i = 0; i < searchResult.length; i++) { %>

            <article class="search-result">
                <header class="search-header">
                    <h3 class="search-title"><a href=
                                                '<%= searchResult[i]
                                                        .Url %>'><%=
                                searchResult[i]
                                        .Title %></a></h3>
                </header>
                <div class="entry-summary">
                    <p><%= searchResult[i].Description %></p>
                </div>
                <footer class="entry-meta">
                    <ul class="hierarchy">
                        <li class="symbol no-arrow"><i
                                    class="fa fa-map-marker"></i></li>
                        <li><a href="<%= searchResult[i]
                                    .Url %>"><%= searchResult[i]
                                        .DisplayUrl %></a></li>
                    </ul>
                </footer>
            </article>
            <% } %>
        </div>
        <!--<div class="col-sm-12 col-md-4 col-lg-3 col-lg-offset-1">-->
        <!--<div class="sidebar-padder">-->

        <!--<aside class="widget widget_nav_menu">-->
        <!--<h3 class="widget-title">Top Destinations</h3>-->

        <!--<div class="menu-top-destinations-container">-->
        <!--<ul id="menu-top-destinations" class="menu">-->
        <!--<li class="menu-item"><a href="#">London,-->
        <!--England</a></li>-->
        <!--<li class="menu-item"><a href="#">Sydney,-->
        <!--Australia</a></li>-->
        <!--<li class="menu-item"><a href="#">Chicago,-->
        <!--USA</a></li>-->
        <!--<li class="menu-item"><a href="#">San Francisco,-->
        <!--USA</a></li>-->
        <!--<li class="menu-item"><a href="#">Toronto,-->
        <!--Canada</a></li>-->
        <!--<li class="menu-item"><a href="#">Buenos Aires,-->
        <!--Argentina</a></li>-->
        <!--<li class="menu-item"><a href="#">Queenstown,-->
        <!--New Zealand</a></li>-->
        <!--<li class="menu-item"><a href="#">Santorini,-->
        <!--Greece</a></li>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</aside>-->

        <!--<aside id="categories-3" class="widget widget_categories">-->
        <!--<h3 class="widget-title">Topics</h3>-->
        <!--<ul>-->
        <!--<li class="cat-item">-->
        <!--<a href="#">Destinations</a>-->
        <!--<ul class="children">-->
        <!--<li class="cat-item"><a href="#">Europe</a>-->
        <!--</li>-->
        <!--<li class="cat-item"><a href="#">North-->
        <!--America</a></li>-->
        <!--<li class="cat-item"><a href="#">Oceania</a>-->
        <!--</li>-->
        <!--<li class="cat-item"><a href="#">South-->
        <!--America</a></li>-->
        <!--</ul>-->
        <!--</li>-->
        <!--<li class="cat-item"><a href="">Family Travel</a>-->
        <!--</li>-->
        <!--<li class="cat-item"><a href="#">Travel News</a>-->
        <!--</li>-->
        <!--<li class="cat-item"><a href="#">Travel Planning</a>-->
        <!--</li>-->
        <!--<li class="cat-item"><a href="#">Travel Tips</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--</aside>-->
        <!--</div>-->

        <!--</div>-->
    </div>
</section>

<!-- Footer
================================================== -->
<footer id="footer">
    <% include partials/page/footer.ejs %>
</footer>
</body>
</html>